<h1>Welcome to the Dashboard</h1>

<table>
  <caption>Jobs by Level of Interest</caption>
  <tr>
    <th>Level of Interest</th>
    <th>Number of Jobs</th>
  </tr>
  <% @interest_count.each do |level, count| %>
    <tr class="<%= "level_of_interest_#{level}" %>">
      <td><%= level %></td>
      <td><%= count %></td>
    </tr>
  <% end %>
</table>

<table>
  <caption>Top 3 Companies by Level of Interest</caption>
  <tr>
    <th>Company Name</th>
    <th>Average Interest</th>
  </tr>
  <% @top_companies.each do |data| %>
    <tr>
      <td><%= "#{data[0]}:" %></td>
      <td><%= data[1] %></td>
    </tr>
  <% end %>
</table>

<table>
  <caption>Jobs by Location</caption>
  <tr>
    <th>Location</th>
    <th>Number of Jobs</th>
  </tr>
  <% @location_count.each do |city, count| %>
    <tr>
      <td><%= link_to city, "/jobs/?location=#{city}"%></td>
      <td><%= count %></td>
    </tr>
  <% end %>
</table>
