<h1>All Jobs Sorted By <%= params[:sort].capitalize %></h1>

<% @sorted_jobs.each do |key, jobs| %>
  <h3><%= "#{key}:" %></h3>
  <ul>
    <% jobs.each do |job| %>
      <li>
        <%= link_to job.title, job_path(job)%>
        <br>
        <%= link_to job.company.name, company_path(job.company) %>
        <p><%= job.city %></p>
      </li>
    <% end %>
  </ul>
<% end %>
